@model CourseProject_SecondCourse_.Models.ApplicationUser
@{
    ViewBag.Title = "Мой аккаунт";
}


<table class="table">
        <tr>
            <td>
                @Html.Raw("<img style='width:80px; height:60px;' src=\"data:image/jpeg;base64,"
                                          + Convert.ToBase64String(Model.Image) + "\" />")
            </td>
            <td>
                @Model.Name
            </td>

            <td>
                @Model.Surname
            </td>
        </tr>
    
</table>
<div id="myevents">
    @Ajax.ActionLink("Мои события", "MyEvents", "Event", new AjaxOptions { UpdateTargetId = "myevents" })

</div>
<div id="myfavorites">
    @Ajax.ActionLink("Избранные", "MyFavorites", "Event", new AjaxOptions { UpdateTargetId = "myfavorites" })

</div>
@Scripts.Render("~/scripts/jquery-1.10.2.min.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")

<br />
<br />
@Html.ActionLink("Изменить параметры учетной записи", "Edit", "Account")
@Html.ActionLink("Создать мероприятия", "Create", "Event")




